@model ResetPasswordViewModel
@using Microsoft.AspNetCore.Identity

<!-- Register form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="post" asp-controller="Account" asp-action="ResetPassword" class="register-form" id="register-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Code"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Code" type="text" placeholder="Code" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="Email" type="email" placeholder="Your Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Password" type="password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Repeat your password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="reset" id="reset" class="form-submit" value="Reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

